<div class="jumbotron text-center">
  <h1>NASA Image Library</h1>
  <p class="lead">Welcome to our custom NASA Image Library</p>
</div>


<div class="row">
  <div class="col-md-6">
    <h3>About us</h3>
    <p>A web application for displaying images from NASA with the ability to search based on a given phrase, create image collections and share them with others.
 </p>
  </div>
  <div class="col-md-6">
    <h3>Technologies used</h3>
    <p>Node.js/Express server using Mongoose to organize models and query the database. Angular 4 to generate components and services. JWT Tokens with full authentication. </p>
  </div>
</div>