<form action="/hms/accommodations" method="GET"> 

 <img src="/assets/Images/nasaLogo.png" class = "NASA">
 <h1>Welcome to your NASA Image Dashboard!</h1>
  <div class="row">
    <div class="col-xs-6 col-md-4">
      <div class="input-group">
   <input type="text" class="form-control" placeholder="..." id="txtSearch"/>
   <div class="input-group-btn">
        <button class="btn btn-primary" type="submit">
        <span class="oi" data-glyph="magnifying-glass"></span>
        Search
        </button>
   </div>
   </div>
   </div>
  </div>

</form>